<div class="container" *ngIf="voyageDetail">
    <h4>{{voyageDetail.company}} </h4>
    <p> Départ :
        <span>{{voyageDetail.depart}} </span>
    </p>
    <p> Arrivée :
        <span>{{voyageDetail.arrivee}} </span>
    </p>
    <p> Heure Départ :
        <span>{{voyageDetail.heureDepart}} </span>
    </p>
    <p> Heure Arrivée :
        <span>{{voyageDetail.heureArrivee}} </span>
    </p>
    <p> Nombre de Places : {{voyageDetail.nbrePlaces}}
    </p>
    <p> Prix : {{voyageDetail.price}}
    </p>
    <p> Nombre de Restantes : {{placeRestante}}
    </p>

</div>