<h4>Vous êtes connecté en tant que {{user.email}}</h4>
<div class="flex-container">
    <div>
        <button class="example-full-width" mat-raised-button routerLink="/user/createVoyageUser" color="primary">CREER UN VOYAGE</button>
    </div>
    <div>
        <button class="example-full-width" mat-raised-button (click)="goToListUser()" color="accent">MA LISTE DE VOYAGES</button>
    </div>
</div>
<app-list-voyage *ngIf="!showReservationUser" [voyages]="voyagesFetch2" (selectedVoyage)="selectVoyageUser($event)"></app-list-voyage>

<div class="flex-container-form  mat-elevation-z4" *ngIf="showReservationUser">
    <div>
        <app-detail-voyage [voyageDetail]="selectedVoyageUser"></app-detail-voyage>
    </div>
    <div>
        <mat-vertical-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Address" formControlName="secondCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>



<!-- <div class="container">
    <mat-card> {{user | json}}</mat-card>
    <div class="flex-container">
        <div>
            <button class="example-full-width" mat-raised-button routerLink="/listVoyageUser" color="primary">RESERVER UN VOYAGE</button>

        </div>
        <div>
            <button class="example-full-width" mat-raised-button routerLink="/createVoyageUser" color="accent">CREER UN VOYAGE</button>
        </div>
    </div>
    <div class="container">
        <app-voyages [voyages]="voyagesFetch2"></app-voyages>
    </div>
</div> -->